PM_DB_HOST=localhost
PM_DB_PORT=3306
PM_DB_NAME=property_manager
PM_DB_USER=propertymanager_app
PM_DB_PASSWORD=change-me
PM_DB_POOL_SIZE=5
PM_FLASK_DEBUG=false
PM_LOG_LEVEL=INFO
PM_AUTH_PATH=/absolute/path/to/mtlapts_wkspc/login
PM_AUTH_DATABASE=auth
PM_AUTH_SCOPE=propertymanager
PM_AUTH_READ_LEVEL=1
PM_AUTH_WRITE_LEVEL=5
