{% extends "layout.html" %}
{% from "components/macros.html" import kpi %}

{% block content %}
<div class="row">
  {% for card in data.cards %}
    {{ kpi(card) }}
  {% endfor %}
</div>

<div class="row">
  <div class="col-xl-8 mb-4">
    <div class="card h-100">
      <div class="card-header">
        <strong>Monthly Rent Collected</strong>
      </div>
      <div class="card-body">
        <canvas id="incomeChart" height="105"></canvas>
      </div>
    </div>
  </div>

  <div class="col-xl-4 mb-4">
    <div class="card h-100">
      <div class="card-header">
        <strong>Occupancy by Location</strong>
      </div>
      <div class="card-body">
        <canvas id="occupancyChart" height="220"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
PM.charts.line(
  "incomeChart",
  {{ data.income_labels|tojson }},
  {{ data.income_values|tojson }},
  "Collected"
);

PM.charts.bar(
  "occupancyChart",
  {{ data.occupancy_labels|tojson }},
  {{ data.occupancy_values|tojson }},
  "Occupancy %"
);
</script>
{% endblock %}
